*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_div{
  width: 100%;
  height:100vh;
  background:#7bed9f;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;

}



.center_div{

  width:25%;

  height:70vh;

  background-color:#f4f4f4;
box-shadow:  5px 5px 25px -5px rgba(0,0,0,0.87);
  border-radius:15px;
}

h1   {

  color:rgba(119, 14, 238, 0.87);

  font-size:50px;

  margin-bottom: 0%30px;
  min-width:64px;
  box-sizing:border-box;
  font-family:fantasy;
 text-transform:uppercase ;
  border-radius:4px;
  letter-spacing: 0.02857em;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  font-weight: 500;
}

input{
  text-align: center;
  height: 30px;
  border:none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
  margin-right: 20px;
}

.newBtn{
  width: 50px;
  height: 55px;
  background-color: rgb(161, 73, 70) !important;
  border-radius: 50% !important;
}
.newBtn:hover{
  color: black !important;
  background:red !important;
}
ol{
  margin-top: 40px;

}

ol,li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  /* display: flex; */
  align-items: center;
  text-transform: capitalize;
  color: #750af7;
  list-style: none;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .deleteIcon{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 5px;
  color: aliceblue;
  box-shadow:  5px 5px 25px -5px rgba(0,0,0,0.87);
}

.todo_style .deleteIcon:hover{
  background-color: transparent;
  color: crimson;
  box-shadow:  5px 5px 15px -5px rgba(255,0,0,0.5);
}

.todo_style .fa-times:hover .list_style{
  color: crimson;
}

@media(max-width:768px){
  .center_div{
    width: 55%;
  }
  .todo_style .fa-times:hover{
  display: flex;
  margin: 0 15px 0 15px;
  justify-content: center;
  align-items: center;
  }
  button{
    margin-left: 5px;
    min-height: 40px;
    widows: 40px;
    color: darkmagenta;
    font-size: 30px;
  }
}